<% var boards = boards.models %>

<div id="nav_container">
  <nav class="ink-navigation">
    <ul class="menu horizontal flat rounded shadowed grey" id="menu">
      <li><a id="boardList" href="/">My Boards</a>
        <ul class="submenu">
          <% for(var i = 0; i < boards.length; i++){ %>
            <li class="indivBoard">
            	<a href="#<%=boards[i].attributes.id%>/lists" id="<%=boards[i].attributes.id %>">
			<%= boards[i].escape("boardtitle") %>
		</a>
            </li>
          <% } %>
        </ul>
        <li><a id="boardForm" href="#">Create New Board</a></li>
      </ul>
      <div id="createHolder" style="display: none;"></div>
    </ul>
  </nav>
</div>
<div id="v-buffer-space">
</div>

<div id="h-buffer-space">
</div>


   <% for(var i = 0; i < boards.length; i++){ %>
                   <a id="<%=boards[i].attributes.id%>board-holder" class="board-holder large-10" href="#<%=boards[i].attributes.id%>/lists">
                <%= boards[i].escape("boardtitle") %>
                </a>
          <% } %>


