<h2 id="welcome">Logged in as <%= @user.username.capitalize %></h2>
<%= button_to "Logout", session_url, :method => :delete %>

<div id="content">

<script type="application/json" id="user_boots">
  { "current_user": <%= {
                        :id => current_user.id,
                        :username => current_user.username,
                      }.to_json.html_safe %>
  }
</script>

<script type="application/json" id="user_board_boots">
  { "user_boards": <%= current_user.boards.to_json.html_safe %> }
</script>



<script>
var current_user = <%= { :id => current_user.id,
                         :user_name => current_user.username,
                         :boards => current_user.boards
                        }.to_json.html_safe
                    %>;
var router_option = 1;
var user_boards = <%= current_user.boards.to_json.html_safe %>;

$(document).ready(function(){
  TrolleApp.initialize(current_user, 1, user_boards);
  });
</script>
</div>
